spring:
  application:
    name: PersonQueryAPIs
  jpa:
    database: mysql
    show-sql: true
    hibernate:
      ddl-auto: none
  datasource:
    url: jdbc:mysql://localhost:3306/n4smh_org
    username: nagesh
    password: asdf1234
  security:
    user:
      name: user_person_query
      password: asdf1234

server:
  port: 8092

management:
  tracing:
    sampling:
      probability: 1.0
  otlp:
    metrics:
      export:
        url: http://localhost:4318/v1/metrics
  opentelemetry:
    tracing:
      export:
        otlp:
          endpoint: http://localhost:4318/v1/traces
    logging:
      export:
        otlp:
          endpoint: http://localhost:4318/v1/logs
  endpoints:
    web:
      exposure:
        include:
        - info
        - health

logging:
  pattern:
    #console: "%d ${spring.application.name} [ %X{traceId} %X{userId} ] %level - %-36logger{36} : %msg%n"
    correlation: "[ %X{traceId:-} %X{spanId:-} ] "
  #include-application-name: false

springdoc:
  show-actuator: true
  swagger-ui:
    path: '/swagger-ui.html'

downstream:
  swagger-central:
    server:
      uri: http://localhost:8090 